/* loader */

.loader {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #0b0112;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lettre {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0% {
        color: #24bcde;
        text-shadow: 0 0 7px #24bcde;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100% {
        color: #24bcde;
        text-shadow: 0 0 7px #24bcde;
    }
}

.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out {
    z-index: 0;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(media/background.jpg);
    background-position: auto;
    background-size: cover;
}

.ecran{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 90%;
    max-width: 440px;
    color: aliceblue;
    margin: auto;
    text-align: center;
    padding: 50px 30px ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.card img{
    width: 150px;
    border-radius: 50%;
}

.card h2{
    font-size: 50px;
    font-weight: 600px;
    margin-top: 20px;
}

.carte p{
    font-size: 20px;
    margin: 10px auto;
    max-width: 330px;
}
.card .social img{
    width: 40px;
    border-radius: 50%;
    margin: 10px 5px;
    transition: background 0.5s;
}

.card .social img:hover{
    background-color:#ac5878;
}

.contact_button{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    background: #ffffff;
    color: #ac5878;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 30px 0 10px;
}

/* === FOOTER === */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;    
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
  }
  footer p{
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 0.02em;
  }
  footer p span.textFooter{
    transition: 0.5s;
  }
  footer p:hover span.textFooter{
    color: #24bcde;
  }
  /* FIN FOOTER */